/* Code heavily modified from youtube tutorial: https://www.youtube.com/playlist?list=PL4cUxeGkcC9itfjle0ji1xOZ2cjRGY_WB */

body {
    /*  background: #83b1fc; */
    background: rgb(32, 32, 32);
    font-family: 'Cagliostro';
    margin: 0;
    padding: 0;
}

/*************************************
**** Style the NEW navigation bar ****
*************************************/
h3
{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: hidden;
}

.spanmod {
    color: red;
}

/* Navbar links */

.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: background-color .3s ease-in-out;
}

/* Navbar links on mouse-over */

.navbar a:hover {
    background-color: rgb(79, 172, 190);
    transition: all 0s;
}

/* Current/active navbar link */

.active {
    background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 650px) {
    .navbar a {
        float: none;
        display: block;
    }
    #navbannerlogo {
        display: none;
    }
}

#navbannerlogo {
    padding: 12px;
    text-align: center;
    position: absolute;
    justify-content: center;
    float: left;
    font-size: 22px;
    font-family: 'Cagliostro';
    color: white;
}

#navbannerlogo:hover {
    transition: all 0s;
    background: none;
}

/*********************************/

h1 {
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Cagliostro';
    cursor: default;
}

#courseHeader {
    display: none;
}

#courseHeaderText {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    display: none;
}

#advancedHeaderText {
    font-size: 33px;
    color: #ffffff;
    text-align: center;
    /*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    margin: 0;
}

#advanced-search-button {
    background-color: rgb(47, 179, 255);
    color: white;
    padding: 11px 22px;
    border: none;
    cursor: pointer;
    position: flex;
    margin-top: 3px;
    margin-left: 3px;
    width: 82%;
}

#resultsHeader {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0;
}

/* Background behind search bar */

.index-content {
    background: rgb(153, 153, 153);
    max-width: 960px;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.search-content {
    background: rgb(153, 153, 153);
    float: right;
    max-width: 65%;
    min-width: 50%;
    position: flex;
    margin: 30px auto;
    padding: 10px 10px;
    margin-right: 75px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.search-content-fields {
    background: rgb(153, 153, 153);
    float: left;
    max-width: 25%;
    min-width: 25%;
    position: flex;
    margin: 30px auto;
    padding: 30px 30px;
    margin-left: 75px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.search-course-form {
    border-radius: 10px 10px 10px 10px;
}

#search-button {
    background-color: rgb(47, 179, 255);
    color: white;
    padding: 11px 22px;
    border: none;
    cursor: pointer;
    position: flex;
    margin-top: 3px;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#confirm-delete-overlay-buttons {
    margin-left: 25%;
    width: 30%;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    padding: 9px 22px;
    border: none;
    cursor: pointer;
}

#editBook-overlay-buttons {
    background-color: rgb(47, 179, 255);
    color: white;
    padding: 11px 22px;
    border: none;
    cursor: pointer;
    position: flex;
    margin-top: 3px;
    width: 30%;
    margin-left: 3px;
}

/**********************************
***** Format list of results ******
**********************************/

.delete-cross {
    color: rgb(248, 129, 129);
    background: rgb(231, 231, 231);
    border-radius: 10px 10px 10px 10px;
}

.delete-cross:hover {
    transition: background-color .5s ease-in-out;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}

.edit-E {
    background: url(../images/edit.jpg) no-repeat;
    opacity: 60%;
    height: 40px;
    width: 40px;
    border-radius: 10px 10px 10px 10px;
}

.edit-E:hover {
    transition: opacity .5s ease-in-out;
    opacity: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Format results */

#course-list {
    display: none;
}

li {
    padding: 15px;
    margin-bottom: 5px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    width: flex;
    justify-content: center;
    border-radius: 10px;
}

li:nth-child(even) {
    padding: 15px;
    background: #f2f2f2;
}

li span {
    display: block;
    justify-content: center;
}

li span:nth-child(2) {
    font-size: 16px;
    margin-top: 6px;
    color: #999;
    justify-content: center;
}

li .delete-cross {
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    border: 1px solid red;
    padding: 8px 0;
    font-weight: bold;
    cursor: pointer;
}

li .edit-E {
    position: absolute;
    bottom: 0;
    right: 0px;
    background: url(../images/edit.jpg) no-repeat center center;
    width: 40px;
    height: 40px;
    opacity: 60%;
    border: 1px solid rgb(1, 160, 62);
    cursor: pointer;
}

/*
    form input{
        float: left;
        width: 27%;
        border-radius: 10px 10px 10px 10px;
        background: rgb(242, 242, 242);
        margin: 3px 3px;
        padding: 10px;
        display: flex;
        box-sizing: border-box;
        font-size: 14px;
    }
    */

/*#add-institution-form input {
    float: left;
    width: 27%;
    border-radius: 10px 10px 10px 10px;
    background: rgb(242, 242, 242);
    margin: 3px 3px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
}*/

#add-course-form input {
    float: left;
    width: 27%;
    border-radius: 10px 10px 10px 10px;
    background: rgb(242, 242, 242);
    margin: 3px 3px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
}

#search-form input {
    float: left;
    width: 82%;
    border-radius: 10px 10px 10px 10px;
    background: rgb(240, 240, 240);
    margin: 3px 3px;
    padding: 11px;
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
}

form input:focus {
    outline: 0;
    border: 2px solid #4286f4;
    transition: all ease 0.3s;
}

form:after {
    content: '';
    clear: both;
    display: block;
}

/* Specific Buttons */

#addBook-overlay-buttons {
    background-color: rgb(47, 179, 255);
    color: white;
    padding: 11px 22px;
    border: none;
    cursor: pointer;
    position: flex;
    margin-top: 3px;
    width: 30%;
    margin-left: 3px;
}

#addBook-cancel {
    left: 10%;
    top: 50%;
    position: relative;
    width: 25%;
    cursor: pointer;
}

/*************************/

/* Formatting ALL buttons */

button {
    background: rgb(240, 240, 240);
    margin-left: 10px;
    border-radius: 10px;
    padding: 9px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(26, 128, 224, 0.671);
    font-weight: bold;
    font-family: Cagliostro;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
    cursor: pointer;
}

/* Add Book form fields layout */

form p {
    float: left;
    width: 49%;
}

form p:not(:nth-child(2n)) {
    margin-right: 2%;
}

form p:last-child {
    clear: both;
    width: 100%;
}

form p:nth-last-child(2) {
    clear: both;
    width: 100%;
}

/*******************************************
************  OLD NAV BANNER  **************
*******************************************/

/*Entire navbanner*/

.navbanner {
    background-color: #4F4F4F;
    top: 0em;
    /*required for sticky to work -- Just enough px so it's below the top banner image*/
    position: sticky;
    /*Used to format blocks evenly*/
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

div {
    transition-property: color;
}

/*Links inside the navbanner*/

.navbanner a {
    /* background-color instead of all here, which uses the background color below for the transition only instead of the whole bar which made wonky animations */
    transition: background-color .3s ease-in-out;
    float: left;
    color: #FFFFFF;
    padding: 10px 120px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap
}

/*What to change on hover*/

.navbanner a:hover {
    background-color: #FFFFFF;
    color: white;
    transition: all 0s;
    background: #00afb2;
}

/*.active tag to keep the current page highlighted*/

.active {
    background-color: #009EFF;
}

/********************************************/

/***********************
****** LOGIN FORM ******
************************/

/* Full-width input fields */

label {
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

#login-overlay-buttons {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    position: flex;
    width: 100%;
}

#cancelCancelBtn {
    width: 15%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
    color: white;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    background-color: #5e5e5e;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

img.avatar2 {
    width: 17%;
    border-radius: 50%;
}

.container {
    padding: 12px;
}

span.psw {
    float: right;
    padding-top: 12px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*  overflow: auto; HIDDEN
        /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #5e5e5e;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border-radius: 10px 10px 10px 10px;
    /* Rounded corners */
    border: 2px solid rgb(35, 160, 24);
    width: 30%;
    /* Could be more or less, depending on screen size */
    height: 70%;
}

/* The Modal Add Book (background) */

.modal_2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*  overflow: auto; HIDDEN
        /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Add Book Content/Box */

.modal_2-content {
    background-color: #5e5e5e;
    margin: 0% auto 0% auto;
    /* 0% from the top, 0% from the bottom and centered */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    /* Could be more or less, depending on screen size */
    height: 85%;
}

/* The Modal Edit Book (background) */

.modal_3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*  overflow: auto; HIDDEN
        /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Edit Book Content/Box */

.modal_3-content {
    background-color: #5e5e5e;
    margin: 0% auto 0% auto;
    /* 0% from the top, 0% from the bottom and centered */
    border: 2px solid rgb(47, 179, 255);
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    /* Could be more or less, depending on screen size */
    height: 85%;
}

/* Modal for confirm delete*/

.modal_4 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    margin-bottom: 35%;
    width: 50%;
    height: 20%;
    background-color: #5e5e5e;
    border: 2px solid rgb(200, 0, 0);
    border-radius: 10px 10px 10px 10px;
}

/* Add Book Form Layout */

form p {
    float: left;
    width: 49%;
}

form p:not(:nth-child(2n)) {
    margin-right: 2%;
}

form p:last-child {
    clear: both;
    width: 100%;
}

form p:nth-last-child(2) {
    clear: both;
    width: 100%;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/********** LOG IN FORM END **********/

/***********************************
****** LANDING PAGE ANIMATION ******
***********************************/

.rw-wrapper {
    width: 80%;
    position: relative;
    margin: 1px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
    cursor: default;
}

.rw-sentence {
    margin: 0;
    margin-left: 33%;
    text-align: left;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.rw-sentence span {
    color: #2db9fa;
    font-size: 200%;
    font-weight: normal;
}

.rw-words {
    display: inline;
    text-indent: 10px;
}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: white;
    /*color: #6b969d;*/
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: rgb(192, 127, 253);
}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #ff9933;
}

.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #ff93ce;
}

.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #82e279;
}

.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #fff27a;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .rw-sentence {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .rw-sentence {
        font-size: 9px;
    }
}

/********** LANDING PAGE ANIMATION END **********/